body {
  font-family: var(--font-text);
  background: var(--white);
  color: var(--black);
}

h1,
h2,
h3 {
  font-family: var(--font-title);
  letter-spacing: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 24px;
}
